html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat';
    background-color: rgb(245, 245, 245);
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}


.container {
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;
    padding: 20px 20px;
    font-weight: 500;
    color: rgb(50, 50, 50);
    font-size: 1.6em;
}

header span{
    color : rgb(255, 0, 0);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: 500;
    color: rgb(50, 50, 50);
}

header span:hover{
    color: rgb(255, 0, 0);
}

header a:hover{
    color: rgb(255, 0, 0);
}


#hero{
    display: flex;
    align-items: left;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("media/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero h1{
    margin: 0;
    color: white;
    font-weight: 300;
    justify-content: center;
    text-align: center;
}

#project{
    color:rgb(255, 255, 255);
    font-weight: 600;
}

#D{
    color:rgb(255, 0, 0);
    font-weight: 600;
}

#quienessomos .container{
    text-align: center;
    padding: 200px 30px;
}

#quienessomos h2{
    color: rgb(50, 50, 50);
    padding-bottom: 40px;
}

#quienessomos h3{
    color: rgb(50, 50, 50);
    padding-bottom: 30px;
}

#quienessomos p{
    color: rgb(50, 50, 50);
}

#revista{
    text-align: center;
}

#revista .container{
    padding: 0px 0px;
}

#revista h2{
    display: none;
    margin-top: 0;
    font: 2.5em;
    margin-bottom: 5%;
}

button{
    display: none;
}

#discord{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("media/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    height: 100vh;
}

#discord h2{
    font: 3.2em;
}

#discord p{
    color: white;
}

#ds{
    position: relative;
    width: 300px;
    height: 500px;
}

footer{
    color: white;
    font-size: 0.8em;
}

footer .container{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
        z-index: 1000;
        margin: 0;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    header .logo{
        padding: 10px 0px;
        color: rgb(8, 107, 255);
    }

    header span{
        color: white;
    }

    .navscroll.logo {
        padding: 20px 20px;
    }

    .navcolor.logo {
        padding: 0px 20px;
    }

    .navscroll a{
        color: white;
    }

    .navscroll{
        background-color: transparent;
        transition:background-color 500ms, color 500ms;
    }
    
    .nav-color{
        background-color: rgba(0, 0, 0, 0.9);
    }

    .nav-color span{
        color: white;
    }

    .nav-color span:hover{
        color: white;
    }

    .nav-color a:hover{
        color: rgb(180,180,180);
    }

    #hero h1{
        font-size: 4em;
    }

    #quienessomos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quienessomos .text{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quienessomos h2{
        margin: 0;
        padding-bottom: 40px;
    }

    #quienessomos h3{
        margin: 0;
        padding-bottom: 30px;
    }

    #quienessomos .img-container{
        background-image: url("media/html.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px; 
    }

    #revista .container{
        padding: 150px 12px;
    }

    #revista .cards{
        display: flex;
        justify-content: center;
    }

    #revista h2{
        display: block;
        margin-top: 0;
        font: 2.5em;
    }

    .book {
        position: relative;
        width: 400px;
        height: 600px;
        transition: transform 0.5s;
    }
    
    .paper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        perspective: 1500px;
    }
    
    .front,
    .back {
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform-origin: left;
        transition: transform 0.5s;
    }
    
    .front {
        z-index: 1;
        backface-visibility: hidden;
        border-left: 3px solid black;
    }
    
    .back {
        z-index: 0;
    }
    
    .front-content,
    .back-content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .back-content {
        transform: rotateY(180deg);
    }
    
    .flipped .front,
    .flipped .back {
        transform: rotateY(-180deg);
    }
    
    button {
        display: block;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 10px;
        transition: transform 0.5s;
    }
    
    button:focus {
        outline: none;
    }
    
    button:hover i {
        color: red;
    }
    
    i {
        font-size: 25px;
    }
    
    #p1 {
        z-index: 3;
    }
    
    #p2 {
        z-index: 2;
    }
    
    #p3 {
        z-index: 1;
    }
    
    #f1 {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0),
            rgba(0,0,0,0)
        )
        ,url("media/portada.png");
        background-size: 100% 100%;
    }
    #b1 {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0),
            rgba(0,0,0,0)
        )
        ,url("media/1.png");
        background-size: 100% 100%;
    }
    #f2 {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0),
            rgba(0,0,0,0)
        )
        ,url("media/2.png");
        background-size: 100% 100%;
    }
    #b2 {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0),
            rgba(0,0,0,0)
        )
        ,url("media/3.png");
        background-size: 100% 100%;
    }
    #f3 {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0),
            rgba(0,0,0,0)
        )
        ,url("media/4.png");
        background-size: 100% 100%;
    }
    #b3 {
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0),
            rgba(0,0,0,0)
        )
        ,url("media/portadatrasera.png");
        background-size: 100% 100%;
    }
    
    #ds{
        position: relative;
        width: 300px;
        height: 250px;
    }
    
    #discord p{
        padding-bottom: 2%;
    }
    
    ::-webkit-scrollbar {
        width: 5px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: black;
      }
      
      ::-webkit-scrollbar-thumb {
        background: rgb(245, 245, 245);
      }

    #discord h2{
        font-size: 2em;
    }

    #ds{
        position: relative;
        width: 600px;
        height: 400px;
    }

    footer .container{
        justify-content: center;
    }

}